/*
 *==================================
 * CENTRAL THEME CSS
 *==================================
 */

/* Wrapper */
.box-wrap {
	max-width: 600px;
	min-width: 300px;
	margin: 5px auto;
	padding: 0;
	text-align: center;
}
.box h2 {
	padding: 3px 7px;
	font-size: 12pt;
}
.box ul li {
	list-style: none;
	margin: 0;
}
.intro-images {
    margin-left: auto;
    margin-right: auto;
}
.box-wrap-board {
    margin: 25px auto;
    padding: 5px;
    overflow: auto;
    border-radius: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 1);
}
.box-wrap-board ul {
	padding: 2px 15px;
}
.box-wrap-board ul li {
	list-style: none;
	margin: 0;
	text-align: center;
}
/* Image Box */
.box.image ul  {
	display: flex;
	flex-wrap: wrap;
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    justify-content: center; /* align horizontal */
    align-items: center;
    -webkit-padding-start: 0px;
}
.box video {
	float: left;
    margin: 2px;
    height: 70px;
    border-radius: 115px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
.img-of-now {
    margin: 2px;
    width: 100px;
    border-radius: 5px;
}
.meme-img {
    margin: 2px;
    width: 150px;
    border-radius: 5px;
}
.box.linkage {
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1) !important;
}
.box.linkage ul li{
	width: 50%;
	float: left;
	text-align: center;
}
#column1,#column2,#column3 {
	background: #efe;
	color: #060;
	float:left;
	margin:0;
	width:33.236%;
	}
/* Board Link Collumns */
.column1 {
	border-left: 1px solid #060;
	border-bottom: 1px solid #060;
	}
.column2 {
	border-bottom: 1px solid #060;
	}
.column3 {
	border-right: 1px solid #060;
	border-bottom: 1px solid #060;
	}
h4{
    margin: 5px;
    }
    
.desktop-style .boardlist:nth-child(1) {
    background-color: #1d1f21!important;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 1)!important;
}
