/* JOHOCHAN
 *Based on TOMORROW STYLE
 *A cool dark skin by 7185.
 *https://github.com/7185/8chan-tomorrow/
 */

 
 /* 
 * GENERAL CSS
 */
 
body {
  background:#1d1f21 none;
  color:#C5C8C6;
}
div.banner {
  background-color:#1d1f21;
}
hr {
  background-color:#282a2e;
  border:0;
  height:1px;
}
div.blotter {
  color:#F20;
}
tr.captcha{
  color: #000;
}
span.quote {
  color:#adbd68;
}
span.heading {
  color:#F20;
}
span.capcode {
  background-color: #000;
  padding:2px 5px;
  border-radius: 10px;
}
span.omitted {
  color:#707070;
}
div.video-container img.post-image {
  background-color:#000;
  border-color:#fff;
  border-width:2px;
  border-style:none dotted none;
  padding:0;
}

/* 
 * HEADINGS
 */

h1,div.subtitle {
  color:#C5C8C6!important;
}
h2 {
  color: #94a93c;
}

/* 
 * LINKS
 */

a:link {
  color:#8cb14c;
}
a:visited {
  color:#6B8E23;
}
a:hover {
  color:#9ACD32;
}
a.post_no {
  color:#C5C8C6;
}
a.post_no:hover {
  color:#5F89AC!important;
}

/* 
 * PARAGRAPHS
 */
 
p.intro span.subject {
  color:#b0c700;
}
p.intro span.name {
  color:#C5C8C6;
}
p.intro a,span.omitted a {
  text-decoration:none;
}

/* 
 * FORMS
 */

form {
  margin-bottom: 4em;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
form table {
  margin: auto;
  background: #1d1f21;
  padding: 5px;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 1) !important;
  border-radius: 15px;
}
form table tr th {
  background:#282a2e;
  border:1px solid #111;
  color:#C5C8C6;
}
form#quick-reply {
  padding-right:1px;
  border: 1px solid #111;
}
.dropzone {
    color: #fff;
    cursor: default;
    margin: auto;
    padding: 0px 4px;
    text-align: center;
    min-height: 50px;
    max-height: 140px;
    transition: 0.2s;
    background-color: rgb(40, 42, 46);
    overflow-y: auto;
}
.dropzone .remove-btn {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    vertical-align: bottom;
    bottom: 10px;
    position: relative;
    margin-right: 5px;
    font-size: 20px;
}
.dropzone .file-hint {
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    margin-bottom: 5px;
    padding: 10px 0px;
    top: 5px;
    transition: 0.2s;
    border: 2px dashed rgba(125, 125, 125, 0.4);
}

/*
 * THREADS
 */	
 
.thread{
  background: #282a2e!important;
  padding: 1em 1em 0 1em !important;
  border: none !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8) !important;
  border-radius: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}	

/* 
 * REPLIES
 */
 
div.post.reply {
  background-color: #1d1f21;
  border: 1px solid #1d1f21;
  margin-bottom: 5px;
  margin-left: 16px;
  margin-top: 2px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8) !important;
}
div.post.reply.highlighted {
  background-color:#1d1d21;
  border:1px solid #111;
}
div.post.reply div.body a {
  color:#81a2be;
}
div.post.reply div.body a:hover {
  color:#5F89AC;
}
div.post-hover {
  border:1px solid #000!important;
  box-shadow:none!important;
}

/* 
 * PAGINATION
 */

div.pages {
  background: #282a2e;
  padding: 1em 1em 1em 1em !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8) !important;
  border-radius: 15px;
  border: none;
}
div.pages a.selected {
  color:#81a2be;
  font-weight:700;
}
div.pages.top {
  display: block;
  position: fixed;
  top: 30px;
  opacity: 0.8;
  background: #282a2e;
  padding: 1em 1em 1em 1em !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8) !important;
  border-radius: 15px;
}

/* 
 * BOARDLIST
 */
 
div.boardlist {
  background-color:#282a2e!important;
  color:#C5C8C6;
}
div.boardlist:nth-of-type(1) {
  border-bottom:1px solid #111!important;
  box-shadow:0 0 3px 0 #111;
}
div.boardlist a:link {
  color:#8cb14c;
}
div.boardlist a:visited {
  color:#6B8E23;
}
div.boardlist a:hover {
  color:#9ACD32;
}
div.boardlist.bottom {
  margin-top: 12px;
  clear: both;
  padding: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  border-top: 1px solid #111!important;
}

/* 
 * OPTIONS
 */
 
div#options_div {
  background-color:#282a2e;
}
div.options_tab_icon {
  color:#AAA;
}
div.options_tab_icon:hover {
  background-color:#111;
}
div.options_tab_icon.active {
  color:#F20;
}

/* 
 * WATCHLIST
 */
div#watchlist,div#alert_div {
  border:1px solid #111;
  background-color:#282a2e;
}
div#watchlist a,a.watchThread {
  color:#81a2be;
  text-decoration:none;
}
div#watchlist a:hover,a.watchThread:hover {
  color:#5F89AC;
}

/* 
 ====================
 * SEARCH CSS 
 *==================
 */

div.ban { 
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  overflow: auto;
  border-radius: 25px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 1);
  border: none;
}
	
div.ban h2 {
  background: #282a2e!important;
  color: #fff!important;
  padding: 3px 7px!important;
  font-size: 12pt!important;
  text-align: center!important;
}
div.ban p {
  color: #8cb14c!important;
  font-size: 9pt!important;
	} 

/* 
 *===================
 * BACKEND 
 *===================
 */	
	
#dashboard {
 margin-left:auto;
 margin-right:auto;
 max-width: 800px;
}

fieldset {
 border-radius:15px;
 border-width: 2px;
 border-style: outset;
 border-color: rgb(74, 109, 48);
 border-image: initial;
}

/*
 *==================================
 * CENTRAL THEME CSS
 *==================================
 */

/* Wrapper */
.box-wrap {
	max-width: 600px;
	min-width: 300px;
	margin: 5px auto;
	padding: 0;
	text-align: center;
}
.box h2 {
	padding: 3px 7px;
	font-size: 12pt;
}
.box ul li {
	list-style: none;
	margin: 0;
}
.box-wrap-board {
    margin: 25px auto;
    overflow: auto;
    border-radius: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 1);
}
.box-wrap-board ul {
	padding: 2px 15px;
}
.box-wrap-board ul li {
	list-style: none;
	margin: 0;
	text-align: center;
}
/* Image Box */
.box.image ul  {
	display: flex;
	flex-wrap: wrap;
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    justify-content: center; /* align horizontal */
    align-items: center;
    -webkit-padding-start: 0px;
}
.box video {
	float: left;
    margin: 2px;
    height: 70px;
    border-radius: 115px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
/* Board Link Collumns */
#column1,#column2,#column3 {
	background: #efe;
	color: #060;
	float:left;
	margin:0;
	width:33.236%;
}
.column1 {
	border-left: 1px solid #060;
	border-bottom: 1px solid #060;
}
.column2 {
	border-bottom: 1px solid #060;
}
.column3 {
	border-right: 1px solid #060;
	border-bottom: 1px solid #060;
}