<div class="ban">
	<form style="display:inline" action="" method="get">
		<p>
			<input id="search" name="search" type="text" size="40" value="{{ search }}">
			<select multiple name="board" style="vertical-align: middle; height: 60px; overflow: overlay; border-radius: 5px;margin: 5px";>
				{% for b in boards %}
					<option value="{{ b }}"{% if b == board %} selected{% endif %}>/{{ b }}/</option>
				{% endfor %}
			</select>
			<input type="submit" value="{% trans %}Search{% endtrans %}" />
			<a id="displayText" style="margin: 5px;" href="javascript:pagination();">Show Information</a>
		</p>
	</form>
	        <p style="font-size:8pt; margin:5px">
		    {% trans %}Only pick one board to search. Search is case-insensitive and based on keywords. To match exact phrases, use "quotes". Use an asterisk (*) for wildcard.</p><p style="font-size:8pt;margin:5px">You may apply the following filters to your searches: <strong>id</strong>, <strong>thread</strong>, <strong>subject</strong>, and <strong>name</strong>. To apply a filter, simply add to your query, for example, <em>name:Anonymous</em> or <em>subject:"Some Thread"</em>. Wildcards cannot be used in filters.{% endtrans %}
	        </p>
</div>
