<head>
 	<script type="text/javascript">
        function pagination() {
		var ele = document.getElementById("toggleText");
		var text = document.getElementById("displayText");
		if(ele.style.display == "block") {
    		ele.style.display = "none";
		text.innerHTML = "Show Information";
  			} else {
				ele.style.display = "block";
				text.innerHTML = "Hide Information";
				}
		    } 
    </script>
</head>
<div class="ban">
	<form style="display:inline" action="" method="get">
		<p>
			<input id="search" name="search" type="text" size="40" value="{{ search }}">
			<select name="board">
				<option value="none">{% trans %}Select board{% endtrans %}&hellip;</option>
				{% for b in boards %}
					<option value="{{ b }}"{% if b == board %} selected{% endif %}>/{{ b }}/</option>
				{% endfor %}
			</select>
			<input type="submit" value="{% trans %}Search{% endtrans %}" />
			<a id="displayText" style="margin: 5px;" href="javascript:pagination();">Show Information</a>
		</p>
	</form>
	    <div id="toggleText" style="display: none">
	        <p style="font-size:8pt;margin:5px">
		    {% trans %}Search is case-insensitive and based on keywords. To match exact phrases, use "quotes". Use an asterisk (*) for wildcard.</p><p style="font-size:8pt;margin:5px">You may apply the following filters to your searches: <strong>id</strong>, <strong>thread</strong>, <strong>subject</strong>, and <strong>name</strong>. To apply a filter, simply add to your query, for example, <em>name:Anonymous</em> or <em>subject:"Some Thread"</em>. Wildcards cannot be used in filters.{% endtrans %}
	        </p>
	    </div>
</div>
